# Python
*.pyc
__pycache__/
venv/
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# Logs
*.log

# Compiled files
*.pyc
*.pyo
*.pyd

# Environment
.env
.env.*

# Datasets
datasets/
data/

# Exported Models
saved_models/
saved_data/
checkpoints/
